<h1>All Stories</h1>

<ul id="stories">
  <% @stories.each do |story| %>
    <li>
      <%= link_to story.title, story_path(story) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Story", new_story_path, class: "new_story" %>
