<h1><%= @story.title %></h1>

<p><%= @story.body %></p>

<%= link_to "delete", story_path(@story), data: {confirm: "Really delete the article?", method: :delete} %><br>
<%= link_to "<< Back to Stories List", stories_path %>

